button, .g-button {

}
/*
button {
    padding: $regularPadding;
    border: none;
    border-radius: $borderRadius;
    background: $inputBackgroundColor;
    color: black;

    &:hover {
      background: $buttonHoverColor !important;
    }

    &:active, &.g-active {
      background: $buttonActiveColor !important;
      color: white !important;
    }
  }
*/