.palette-color-trends {
  padding: 5px;

  > .color-trend {
    display: table;
    width: 100%;
    padding-bottom: 7px;

    > div, > span {
      display: table-cell;
      vertical-align: middle;
    }

    > .color-trend-icon {
      font-size: 14px !important;
      text-align: left;
      min-width: 17px;
      max-width: 17px;
      padding-right: 5px;
    }

    > .color-palette {
      width: 100%;
      padding-right: 7px;

      > div {
        width: 100%;
        // TODO : Fix this, how to get height if input (12px), 1em gives only 7px???
        height: 16px;
        border: 1px solid $frameBorderColor;

        > div {
          display: inline-block;
          height: 100%;
          @include box-sizing(border-box);
        }

        > div:not(:last-child) {
          border-right: 1px solid $frameBorderColor;
        }

        > div:last-child {
          border-left: 3px solid $frameColor;
        }
      }
    }

    > .color-trend-value {
      min-width: 3em;
      max-width: 3em;
      padding-right: 8px;

      > input {
        width: 100%;
        text-align: center;
      }
    }
  }

  > .color-trend-3 {
    padding-bottom: 3px;
  }

  > .color-toolbar {
    display: table;
    width: 100%;
    padding-top: 7px;

    > div, ul {
      display: table-cell;
      vertical-align: middle;
    }

    .g-color-button {
      padding: 0px 5px 0px 0px;
      text-transform: uppercase;
      text-align: left;
      border: none;
      background: transparent;
    }

    > .color-preview {
      overflow: hidden;
      white-space: nowrap;
      padding: 0px;
      width: 60px;
      border: 1px solid $frameBorderColor;

      > .g-color-swatch {
        @include box-sizing(border-box);
        border: none;
        width: 50%;
        height: 100%;
      }
    }
  }
}