.palette-style {
  padding: 0px;

  .style-selector {
    padding: 5px 5px 0px 5px;
  }

  .style-settings {
    margin: 5px 5px;
  }

  .style-entries-panel {
    > .style-entries-panel-header {
      @include box-sizing(border-box);
      display: table;
      width: 100%;
      padding: 6px 5px;
      background: $frameBorderColor;

      > div {
        display: table-cell;
        vertical-align: middle;
      }

      > .title {
        width: 100%;

        > i.fa:first-child {
          padding-right: 3px;
        }
      }

      > .controls {
        text-align: right;
        white-space: nowrap;

        input, button, .g-button, select {
          border: none;
          padding-top: 0px;
          padding-bottom: 0px;
          background: transparent !important;
          box-shadow: none;
          margin: 0px;
        }

        button, .g-button {
          &.g-active {
            &, * {
              color: $selectedColor;
            }
          }
        }
      }
    }

    > .style-entries-panel-table {
      border-collapse: separate;
      width: 100%;

      > tbody {
        > tr {
          &:not(:last-child) > td {
            border-bottom: 1px solid $frame3DShadowColor;
          }

          &:not(:first-child) > td {
            border-top: 1px solid $frame3DLightColor;
          }

          > td {
            padding: 5px 0px;
            vertical-align: middle;
            background: $frameColor;

            &.visibility {
              text-align: center;

              > span {
                cursor: pointer;
              }
            }

            &.contents {
              padding-right: 5px;
            }
          }

          &.drag {
            opacity: 0.5 !important;
            cursor: pointer;
          }

          &.drop {
            > td {
              background: $dragColor;
              color: $dragTextColor;

              * {
                pointer-events: none;
              }
            }
          }
        }
      }
    }
  }
}