


.g-block-colorpanel {

  .preview {
    height: 1em;
    width: 1em;
    border: 1px solid black;
  }

  .preview-value {
    width: 100%;
  }


    .color-swatch {
      width: 13px;
      height: 13px;
      border: 1px solid black;
    }


  .color-swatch:hover {
    border: 1px solid aquamarine;
  }
}