.g-block-dialog {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.1);

  button {
    padding: $regularPadding;
    border: none;
    border-radius: $borderRadius;
    background: $inputBackgroundColor;
    color: black;

    &:hover {
      background: $buttonHoverColor !important;
    }

    &:active, &.g-active {
      background: $buttonActiveColor !important;
      color: white !important;
    }
  }

  input, textarea, select {
    padding: $regularPadding;
    border-radius: $borderRadius;
    border: 1px solid $inputBackgroundColor;
    color: black;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  input, textArea, select, button {
    margin: 3px;
  }

  input:checked {
    background: $buttonActiveColor;
  }

  input, textArea, select, button {
    padding: $smallPadding;
  }

  button {
    padding: 6px 5px 7px 5px;
  }

  label > input {
    vertical-align: middle;
  }

  label > span {
    display: inline-block;
    vertical-align: middle;
    padding: 0px $largePadding 0px $minPadding;
  }

  > .container {
    background: white;
    position: absolute;
    top: 0px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.20);

    > .header {
      display: table;
      width: 100%;
      padding: $regularPadding;
      background: $headerBackgroundColor;

      > .title {
        color: $headerForegroundColor;
      }
    }

    > .footer {
      display: table;
      width: 100%;
      padding: 0px $regularPadding $regularPadding $regularPadding;

      > div {
        display: table-cell;
        vertical-align: middle;
        text-align: right;

        > hr {
          margin-bottom: $regularPadding;
        }
      }
    }

    > .content {
      width: 100%;
      max-height: 600px;
      overflow: auto;

      &.padding {
        padding: $regularPadding;
      }

      table {
        td > label {
          display: inline-block;
          width: 100%;
          text-align: right;
          padding-right: 5px;
          padding-left: 10px;
        }

        td:first-child > label {
          padding-left: 0px;
        }

        td > h1 {
          color: rgb(128, 128, 128);
          font-size: 12px;
          font-weight: bold;
          border-bottom: 1px dotted rgb(192, 192, 192);
          margin-bottom: 5px;
          padding-bottom: 3px;
          padding-top: 7px;
        }
      }
    }
  }
}