.g-block-dialog {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.5);

  button {
    padding: $regularPadding;
    border: none;
    border-radius: $borderRadius;
    background: $inputBackgroundColor;
    color: black;

    &:hover {
      background: $buttonHoverColor !important;
    }

    &:active, &.g-active {
      background: $buttonActiveColor !important;
      color: white !important;
    }
  }

  input, textarea, select {
    padding: $regularPadding;
    border-radius: $borderRadius;
    border: 1px solid $inputBackgroundColor;
    color: black;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
  }

  input, textArea, select, button {
    margin: 2px;
  }

  > .container {
    position: absolute;
    top: 0px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.20);

    > .header {
      display: table;
      width: 100%;
      padding: $regularPadding;
      background: $headerBackgroundColor;

      > div {
        display: table-cell;
        vertical-align: middle;
      }

      > .title {
        color: $headerForegroundColor;
      }

      > .buttons {
        text-align: right;

        > button {
          background: $headerForegroundColor;
          color: black;
        }
      }
    }

    > .content {
      width: 100%;
      max-height: 600px;
      overflow: auto;
      background: white;

      &.padding {
        padding: $regularPadding;
      }
    }
  }
}