@import 'variables';

body, html {
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;
  overflow: hidden;
  /** Prevent double-tap = zoom on windows mobile */
  -ms-content-zooming: none;

  &, * {
    font: $font;
    line-height: $baseline;
    vertical-align: middle;
  }

  p, table, tr, td {
    margin: 0px;
    padding: 0px;
  }

  *.fa {
    font-size: 14px;
  }

  button, input {
    // Removes inner padding and border in FF3+
    // www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/
    &::-moz-focus-inner {
      border: 0;
      padding: 0;
    }
  }

  // Reset tables
  table {
    border-collapse: collapse;
    border-spacing: 0px;
  }

  * {
    /* Disable long-press callouts. */
    -webkit-touch-callout: none;
    /* Disable highlighting of links. */
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    /* Prevent auto-resizing. */
    -webkit-text-size-adjust: none;
  }

  /** No focus and selection outline except for input fields */
  :focus {
    outline: none;
  }

  /**No selection except for input fields */
  :not(input):not(select):not(textArea) {
    @include user-select(none);
    cursor: default;
  }

  [contenteditable='true']:focus {
    outline: rgba(0, 0, 0, 0) solid 1px;
    &, * {
      @include user-select(all);
      cursor: auto;
    }
  }

  // Give dividers some base styling
  hr {
    height: 1px;
    padding: 0px;
    border: none;
    margin: 5px 0px;
    border-bottom: 1px solid $frameBorderColor;
  }

  // Add special header divider
  h1.g-divider {
    text-align: center;
    line-height: 0 !important;
    border-bottom: 1px dotted $frameBorderColor;
    margin: 10px 0px 5px 0px;
    color: $frameBorderColor;
    text-transform: uppercase;
    text-shadow: 0px 1px 0px $frame3DLightColor;

    &:first-line {
      background-color: $frameColor;
    }
    &:before {
      content: "\a0\a0";
    }
    &:after {
      content: "\a0\a0";
    }
  }
}