// FontAwesome import
$fa-font-path: 'font';
@import '../bower_components/font-awesome/scss/font-awesome.scss';

// Icon Moon font
@font-face {
  font-family: 'icomoon';
  src:url('font/icomoon.eot?yfx3xy');
  src:url('font/icomoon.eot?#iefixyfx3xy') format('embedded-opentype'),
  url('font/icomoon.woff?yfx3xy') format('woff'),
  url('font/icomoon.ttf?yfx3xy') format('truetype'),
  url('font/icomoon.svg?yfx3xy#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

.g-icon {
  font-family: 'icomoon';
  font-size: 16px;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}