button, .g-button, input, select, .g-input {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  margin: 0px;
  padding: 3px;
  line-height: 1em;
  vertical-align: middle;
  background: $frameColor;
  color: $textColor;
}


button, .g-button {
  padding: 2px 3px;
  border: 1px solid $frame3DLightColor;
  border-right: 1px solid $frame3DShadowColor;
  border-bottom: 1px solid $frame3DShadowColor;

  &, * {
    vertical-align: middle;
    text-align: center;
    color: $textColor;
  }

  svg {
    fill: $textColor;
    stroke: $textColor;
  }

  &:active, &.g-active {
    background: $activeColor;
    border: 1px solid $frame3DShadowColor;
    border-right: 1px solid $frame3DLightColor;
    border-bottom: 1px solid $frame3DLightColor;

    &, * {
      color: $activeTextColor;
    }

    svg {
      fill: $activeTextColor;
      stroke: $activeTextColor;
    }
  }

  &:disabled {
    background: $frameColor !important;

    &, * {
      color: $disabledTextColor !important;
    }

    svg {
      fill: $disabledTextColor !important;
      stroke: $disabledTextColor !important;
    }
  }

  &.g-flat {
    border: 1px solid transparent;
    border-radius: 0px;
    box-shadow: none;
    background: transparent;

    &:active, &.g-active {
      background: transparent;
      border: 1px solid transparent;

      &, * {
        color: $selectedColor;
      }

      svg {
        fill: $selectedColor;
        stroke: $selectedColor;
      }
    }

    &:disabled {
      background: transparent !important;
    }
  }
}

select, input, textArea, .g-input {
  border: 1px solid $frameDarkColor;
  border-radius: 3px;
  box-shadow: 0 1px 1px rgba(0,0,0,0.25) inset, 0 -1px 0 rgba(0,0,0,0.05) inset;

  &:disabled {
    background: transparent !important;
    color: $disabledTextColor !important;
  }

  &:focus {
    outline: none;
    border: 1px solid $selectedColor;
  }

  &.g-flat {
    border: 1px solid transparent;
    border-radius: 0px;
    box-shadow: none;
    background: transparent;
  }
}

select {
  text-indent: 0.01px;
  text-overflow: '';
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPScxNCcgaGVpZ2h0PSc1Jz4NCjxwb2x5Z29uIHBvaW50cz0iMCwwIDEwLDAgNSw1IiBmaWxsPSJyZ2IoMTk5LCAxOTksIDE5OSkiLz4NCjwvc3ZnPg==");
  background-repeat: no-repeat;
  background-position: right center;
  padding-right: 15px;
}

input[type="range"] {
  height: 7px;

  &::-moz-range-track {
    border: none;
    background: none;
  }

  &::-moz-range-thumb {
    background: $textColor;
    border: 1px solid $frameBorderColor;
    width: 8px;
    height: 8px;
    border-radius: 100px;
    padding: 0px;
    margin: 0px;
  }

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: $textColor;
    border: 1px solid $frameBorderColor;
    width: 9px;
    height: 9px;
    border-radius: 100px;
    padding: 0px;
    margin: 0px;
  }
}

input[type=checkbox], input[type=radio] {
  width: 1em;
  height: 1em;
  vertical-align: middle;
  position: relative;
  bottom: 1px;

  &:checked {
    background: $selectedColor;
  }
}

input[type=radio] {
  border-radius: 2em;
  bottom: 2px;
}