@import 'variables';

button, .g-button, input, textArea, select, .g-input {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  @include box-sizing(border-box);
  margin: 0px;
  padding: 3px;
  line-height: 1em;
  vertical-align: middle;
  background: $frameColor;
  color: $textColor;

  &:not(:last-child) {
    margin-right: 3px;
  }
}

button, .g-button {
  border: none;
  padding: 3px 4px;

  &, * {
    vertical-align: middle;
    text-align: center;
    color: $textColor;
  }

  svg {
    fill: $textColor;
    stroke: $textColor;
  }

  &:active, &.g-active {
    &, * {
      color: $selectedColor;
    }

    svg {
      fill: $selectedColor;
      stroke: $selectedColor;
    }
  }

  &:disabled {
    background: $frameColor !important;

    &, * {
      color: $disabledTextColor !important;
    }

    svg {
      fill: $disabledTextColor !important;
      stroke: $disabledTextColor !important;
    }
  }
}

select, input, textArea, .g-input {
  border: 1px solid $frameDarkColor;
  border-radius: 0px;

  &:disabled {
    background: transparent !important;
    color: $disabledTextColor !important;
  }

  &:focus {
    outline: none;
    border: 1px solid $selectedColor;
  }
}

select {
  text-indent: 0.01px;
  text-overflow: '';
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPScxNCcgaGVpZ2h0PSc1Jz4NCjxwb2x5Z29uIHBvaW50cz0iMCwwIDEwLDAgNSw1IiBmaWxsPSJyZ2IoMTk5LCAxOTksIDE5OSkiLz4NCjwvc3ZnPg==");
  background-repeat: no-repeat;
  background-position: right center;
  padding-right: 20px;
}

input[type="range"] {
  padding: 2px;

  &::-moz-range-track {
    border: none;
    background: none;
  }

  &::-moz-range-thumb {
    background: $textColor;
    border: 1px solid $frameBorderColor;
    width: 8px;
    height: 8px;
    border-radius: 100px;
    padding: 0px;
    margin: 0px;
  }

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: $textColor;
    border: 1px solid $frameBorderColor;
    width: 9px;
    height: 9px;
    border-radius: 100px;
    padding: 0px;
    margin: 0px;
  }
}

input[type=checkbox], input[type=radio] {
  width: 1em;
  height: 1em;
  vertical-align: middle;
  position: relative;
  bottom: 1px;

  &:checked {
    background: $selectedColor;
  }
}

input[type=radio] {
  border-radius: 2em;
  bottom: 2px;
}


/** Switch */
.g-switch {
  position: relative;
  display: inline-block;
  border: 1px solid $frameDarkColor;

  &:not(:last-child) {
    margin-right: 3px;
  }

  &, * {
    cursor: pointer;
  }

  input[type="checkbox"] {
    position: absolute;
    opacity: 0;
  }

  label {
    display: block;
    overflow: hidden;
    cursor: pointer;
  }

  .switch {
    display: block;
    width: 200%;
    margin-left: -100%;
    -moz-transition: margin 0.3s ease-in 0s;
    -webkit-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s;
    transition: margin 0.3s ease-in 0s;
  }

  .switch:before,
  .switch:after {
    display: block;
    float: left;
    width: 50%;
    margin: 0px;
    padding: 4px;
    color: $textColor;
    line-height: 1em;
    vertical-align: middle;
    text-align: center;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  .switch:before {
    content: attr(data-on);
    background-color: $frameDarkColor;
  }

  .switch:after {
    content: attr(data-off);
    background: $frameColor;
  }

  input[type="checkbox"]:checked + .switch {
    margin-left: 0;
  }

  input[type="checkbox"]:disabled + .switch:before,
  input[type="checkbox"]:disabled + .switch:after {
    background: $frameColor !important;
    color: $disabledTextColor !important;
  }
}