$baseline: 20px;
$font: 12px 'Source Sans Pro', sans-serif;
$menuFont: 12px 'Open Sans', sans-serif;

$baseColor: rgb(77, 80, 82);
$darkColor: shade($baseColor, 30%);
$borderColor: shade($baseColor, 30%);

$lightShadowColor: tint($baseColor, 10%);
$darkShadowColor: shade($baseColor, 15%);

$inputColor: shade($baseColor, 10%);
$inputBorderColor: shade($baseColor, 25%);

$textColor: rgb(199, 199, 199);

$selectedColor: rgb(31, 141, 214);
$selectedTextColor: white;

$activeColor: rgb(90, 102, 118);
$activeTextColor: white;

$dragColor: maroon;
$dragTextColor: white;