@import "compass/css3/user-interface";
@import "compass/css3/box-sizing";

@import 'variables';
@import 'fonts';
@import 'base';
@import 'cursors';
@import 'input';

@import 'component/form';
@import 'component/menu';
@import 'component/tree';
@import 'component/overlay';
@import 'component/colorswatch';
@import 'component/colorpanel';
@import 'component/gradienteditor';
@import 'component/stylepanel';
@import 'component/swatchpanel';

@import 'workspace/workspace';
@import 'workspace/header';
@import 'workspace/toolbar';
@import 'workspace/sidebars';
@import 'workspace/windows';
@import 'workspace/palettes';

@import 'palette/properties';
@import 'palette/style';