@mixin g-button() {
  padding: 7px;
  border: none;
  border-radius: 3px;
  background: $inputBackgroundColor;
  color: black;
  cursor: pointer;

  &:hover {
    background: rgb(246,245,164) !important;
  }

  &:active, &.g-active {
    background: rgb(230,0,99) !important;
    color: white !important;
  }
}

@mixin g-input() {
  padding: 7px;
  border: none;
  border-radius: 3px;
  border: 1px solid $inputBackgroundColor;
  color: black;
}

@mixin g-form {
  button {
    @include g-button();
  }
  input {
    @include g-input();
  }
}

