@mixin g-font-regular {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: normal;
  line-height: 1.5em;

  h1 {
    font-size: 16px;
  }

  h2 {
    font-size: 14px;
  }

  h3 {
    font-size: 12px;
    font-weight: bold;
  }
}

@mixin g-font-small {
  font-family: Arial, sans-serif;
  font-size: 10px;
  font-weight: normal;

  h1 {
    font-size: 12px;
  }

  h2 {
    font-size: 11px;
  }

  h3 {
    font-size: 10px;
    font-weight: bold;
  }
}