@import '../../variables';

.panel-transform {
  padding: 0px;

  .transform-panels {
    height: 100%;

    > .transform-panel-content {
      overflow: scroll;
      position: relative;
      height: 100%;
      float: left;
      border-right: 1px solid $frameBorderColor;
    }
  }
}