$headerBackgroundColor: rgb(159, 180, 0);
$headerForegroundColor: rgb(255, 255, 0);

$inputBackgroundColor: rgb(237, 237, 237);

$buttonHoverColor: rgb(246, 245, 164);
$buttonActiveColor: rgb(230, 0, 99);

$minPadding: 3px;
$smallPadding: 5px;
$regularPadding: 7px;
$largePadding: 10px;

$borderRadius: 3px;