@import '../../variables';

.palette-export {
  padding: 5px;

  > .title {
    padding-bottom: 3px;
  }

  > .export-table {
    > .export-row {
      padding: 5px 0px;

      &:not(:last-child) {
        border-bottom: 1px solid $frameBorderColor;
      }

      > .export-cell {
        display: table-cell;
        white-space: nowrap;

        &:first-child {
          width: 100%;
        }
      }
    }
  }
}