@import '../../variables';

.palette-transform {
  padding: 0px;

  .transform-panels {
    > .transform-panel-category {
      @include box-sizing(border-box);
      display: table;
      width: 100%;
      padding: 4px 5px;
      background: $frameBorderColor;
      margin-bottom: 1px;

      > div {
        display: table-cell;
        vertical-align: middle;
      }

      > .title {
        width: 100%;

        > i.fa:first-child {
          padding-right: 3px;
          width: 9px;
          text-align: center;
        }
      }

      > .controls {
        text-align: right;
        white-space: nowrap;

        input, button, .g-button, select {
          border: none;
          padding-top: 0px;
          padding-bottom: 0px;
          background: transparent !important;
          box-shadow: none;
          margin: 0px;
        }

        button, .g-button {
          &.g-active {
            &, * {
              color: $selectedColor;
            }
          }
        }
      }
    }

    > .transform-panel-content {
      padding: 5px 5px;

      &.last-visible {
        margin-bottom: 0px;
      }
    }
  }
}