.g-progress {
  padding-bottom: 10px;
}

.g-progress > .g-progress-title {
  margin-bottom: 5px;
}

.g-progress > .g-progress-icon {
  float: left;
  vertical-align: middle;
  background: #808080;
  text-align: center;
  line-height: 25px;
  width: 25px;
  color: #FFF;
}

.g-progress > .g-progress-bar {
  line-height: 19px;
  vertical-align: middle;
  background: #F0F0F0;
  overflow: hidden;
}

.g-progress > .g-progress-bar > .g-progress-slider {
  padding: 3px 5px;
}

.g-progress:not(.g-progress-process) > .g-progress-bar > .g-progress-slider {
  width: 100% !important;
}

.g-progress.g-progress-process > .g-progress-bar > .g-progress-slider {
  background: rgb(55, 161, 251);
  color: white;
}

.g-progress.g-progress-failure > .g-progress-bar {
  background: maroon;
  color: white;
}

.g-progress.g-progress-success > .g-progress-bar {
  background: green;
  color: white;
}