#gravit-loader {
  background: white;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  z-index: 9999;
  display: table;
}

#gravit-loader > div {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  height: 100%;
  width: 100%;
}

#gravit-loader > div > .icon {
  display: inline-block;
  background: url(../icon/icon_57x57.png);
  width: 57px;
  height: 57px;
}

#gravit-loader > div > .loader {
  display: inline-block;
  background: url(../image/symbol/initial_loader.gif) no-repeat;
  width: 160px;
  height: 20px;
}

@media only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min-device-pixel-ratio: 2) {
  #gravit-loader > div > .icon {
    background: url(../icon/icon_114x114.png);
    background-size: 57px 57px;
    width: 57px;
    height: 57px;
  }

  #gravit-loader > div > .loader {
    background: url(../image/symbol/initial_loader.gif) no-repeat;
    background-size: 80px 10px;
    width: 80px;
    height: 10px;
  }
}