@mixin g-cursor($cursor) {
  cursor: url('../cursor/#{$cursor}.cur'), auto !important;
}

@mixin g-tool($image) {
  background-image: url($image);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 18px;
}

@mixin g-selected {
  background: $selectionBackground;
  color: $selectionForeground;
}