$darkGreen: rgb(159, 180, 0);
$lightGreen: rgb(246, 245, 164);
$yellow: rgb(255, 255, 0);
$magentaColor: rgb(230, 0, 99);

$windowColor: rgb(240, 240, 240);
$windowFrameColor: rgb(205, 205, 205);
$windowTextColor: black;
$windowHeaderColor: $darkGreen;
$windowHeaderTextColor: $yellow;

$highlightColor: rgb(31, 141, 214);
$highlightTextColor: white;