#welcome {
  position: absolute;

  .welcome-screen-container {
    position: absolute;
    top: 40px;

    .welcome-screen {
      position: relative;

      .block {
        padding: 20px;

        button {
          padding: 7px;
          border: none;
          border-radius: 3px;
          background: rgb(255, 255, 0);
          color: black;
          font-size: 12px;
          text-transform: uppercase;
          cursor: pointer;
        }

        button:hover {
          background: rgb(246,245,164);
        }

        button:active {
          background: rgb(230,0,99);
          color: white;
        }
      }
    }
  }
}