button, .g-button {
  margin: 0px;
  padding: 3px;
  border: 1px solid $frame3DLightColor;
  border-right: 1px solid $frame3DShadowColor;
  border-bottom: 1px solid $frame3DShadowColor;
  background: $frameColor;
  color: $textColor;

  &, * {
    vertical-align: middle;
    text-align: center;
    color: $textColor;
  }

  svg {
    fill: $textColor;
    stroke: $textColor;
  }

  &:hover, &:active, &.g-active {
    background: $activeColor;
  }

  &:active, &.g-active {
    border: 1px solid $frame3DShadowColor;
    border-right: 1px solid $frame3DLightColor;
    border-bottom: 1px solid $frame3DLightColor;

    &, * {
      color: $activeTextColor;
    }

    svg {
      fill: $activeTextColor;
      stroke: $activeTextColor;
    }
  }

  &:disabled {
    background: $frameColor !important;

    &, * {
      color: $disabledTextColor !important;
    }

    svg {
      fill: $disabledTextColor !important;
      stroke: $disabledTextColor !important;
    }
  }
}