.g-form {
  tr.section > td {
    padding: 7px 0px 3px 0px;
    font-weight: bold;
    color: gray;
  }

  tr.section:first-child > td {
    padding-top: 0px;
  }

  td {
    padding: 0px 0px 5px 0px;
  }

  tr:last-child td {
    padding-bottom: 0px;
  }

  td.label {
    padding-right: 5px;
    text-align: right;
  }

  td.label:not(:first-child) {
    padding-left: 10px;
  }
}