.g-form {
  td {
    padding-bottom: 5px;
  }

  tr:last-child td {
    padding-bottom: 0px;
  }

  td.label {
    padding-right: 5px;
    text-align: right;
  }

  td.label:not(:first-child) {
    padding-left: 10px;
  }

  td > hr {
    margin: 1px 0px 2px 0px;
  }
}