.g-gradient-editor {

  > .container {
    display: table;
    width: 100%;

    > div {
      display: table-cell;
      vertical-align: top;
    }

    > .editor {
      width: 100%;

      > .gradient {
        height: 12px;
      }

      > .stops {
        position: relative;
        height: 12px;

        > .stop {
          position: absolute;
          z-index: 1;
          margin-left: -5px;

          &, * {
            @include g-cursor(select-dot);
          }

          > .stop-color {
            background: $textColor;
            border: 1px solid $frameBorderColor;
            width: 8px;
            height: 8px;
            border-radius: 100px;
            padding: 0px;
            margin: 0px;
            margin-top: 1px;

            &::before {
              border-color: transparent transparent $frameBorderColor transparent;
              border-style: solid;
              border-width: 5px;
              width: 0;
              height: 0;
              position: absolute;
              top: -10px;
              left: 0px;
              content: '';
            }
          }

          &.g-active {
            > .stop-color {
              border: 2px solid black;
              margin-left: -1px;

              &::before {
                border-color: transparent transparent black transparent;
              }
            }
          }
        }
      }
    }

    > .panel {
      position: relative;
      padding-left: 5px;

      > .position {
        width: 3.5em;
      }

      > .color {
        position: absolute;
        right: 5px;
      }
    }
  }

}