select {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  text-indent: 0.01px;
  text-overflow: '';
  border: none;
  background: $frameColor;
  color: $textColor;

  &:disabled {
    background: $frameColor !important;
    color: $disabledTextColor !important;
  }
}