$windowColor: Window;
$windowFrameColor: WindowFrame;
$windowTextColor: WindowText;


$windowFaceColor: rgb(237, 237, 237);
$windowBorderColor: rgb(205, 205, 205);
$windowTextColor: black;
$windowTextShadowColor: rgb(68, 68, 68);

$highlightFaceColor: #1F8DD6;
$highlightTextColor: white;

$inputFaceColor: white;
$inputBorderColor: rgb(237, 237, 237);

$regularInputHeight: 26px;
$smallInputHeight: 19px;