.g-color-swatches {
  @include g-cursor(pipette);
  border-collapse: separate;
  border-spacing: 1px;

  .swatch {
    @include g-cursor(pipette);
    border: 1px solid $frameDarkColor;
    width: 8px;
    height: 8px;

    &:hover {
      border: 1px solid aquamarine;
    }
  }
}

.g-color-swatch {
  width: 1em;
  height: 1em;
}

div.g-color-swatch {
  display: inline-block;
}