@import '../variables';



.g-color-panel {
  width: 500px;
  height: 400px;

  .toolbar {
    width: 100%;
    margin-bottom: 10px;

    > div {
      display: table-cell;
      vertical-align: middle;
      white-space: nowrap;

      &.section-center {
        text-align: center;
        width: 100%;
      }

      &.section-end {
        text-align: right;
      }

      > .color-preview {
        width: 100px;
        padding: 0px 1px;

        > div {
          display: inline-block;
          width: 50%;
          height: 100%;
        }
      }
    }
  }

  .color-container {
    display: inline-block;

    > div {
      display: table-cell;
      vertical-align: top;
      white-space: nowrap;
      height: 100%;

      &.color {
        > .map {
          display: block;
        }

        > .color-components {
          margin-bottom: 5px;

          > .color-component {
            display: table;
            width: 100%;
            margin-bottom: 3px;

            > div {
              display: table-cell;
              vertical-align: middle;
            }

            > .color-check {
              min-width: 1.5em;
              max-width: 1.5em;
            }

            > .color-label {
              min-width: 1.5em;
              max-width: 1.5em;
            }

            > .color-range {
              width: 100%;
              padding-right: 5px;

              > input {
                width: 100%;
              }
            }

            > .color-value {
              min-width: 3em;
              max-width: 3em;
              padding-right: 7px;

              > input {
                width: 100%;
                text-align: center;
              }
            }

            > .color-unit {
              min-width: 1em;
              max-width: 1em;
              text-align: left;
            }
          }
        }
      }
    }
  }
}