@import '../variables';

.g-color-panel {
  width: 510px;
  height: 390px;

  .toolbar {
    width: 100%;
    margin-bottom: 10px;

    > div {
      display: table-cell;
      vertical-align: middle;
      white-space: nowrap;

      &.section-center {
        text-align: center;
        width: 100%;
      }

      &.section-end {
        text-align: right;
      }

      > .color-preview {
        width: 100px;
        display: inline-block;
        height: $baseline;

        > div {
          display: inline-block;
          width: 50%;
          height: 100%;
        }
      }
    }
  }

  .color-container {
    display: inline-block;

    > div {
      display: table-cell;
      vertical-align: top;
      white-space: nowrap;
      height: 100%;

      &.color {
        > .map-container {
          position: relative;

          > .map {
            border: 1px solid black;
          }

          > .marker {
            position: absolute;
            left: 50%;
            top: 50%;
            width: 8px;
            height: 8px;
            border: 1px solid white;
            border-radius: 8px;
            box-shadow: 0px 0px 3px rgb(0, 0, 0);
            margin-left: -4px;
            margin-top: -4px;
          }
        }

        > .color-components {
          margin-top: 10px;

          > .color-component {
            display: table;
            width: 100%;
            margin-bottom: 3px;

            > div {
              display: table-cell;
              vertical-align: middle;
            }

            > .color-check {
              min-width: 14px;
              max-width: 14px;
            }

            > .color-label {
              min-width: 1.5em;
              max-width: 1.5em;
              text-align: center;
            }

            > .color-range {
              width: 100%;
              padding-right: 5px;

              > input {
                width: 100%;
              }
            }

            > .color-value {
              min-width: 3em;
              max-width: 3em;
              padding-right: 7px;

              > input {
                width: 100%;
                text-align: center;
              }
            }

            > .color-unit {
              min-width: 1em;
              max-width: 1em;
              text-align: left;
            }
          }
        }
      }

      &.wheel {
        padding-left: 10px;
        position: relative;

        > .wheel-border {
          position: absolute;
          top: 0px;
          left: 10px;
        }
      }
    }
  }

  .palette {
    margin-top: 13px;
    width: 241px;
    height: 92px;
    padding: 3px;
    overflow: auto;

    > .divider {
      clear: both;
    }

    > .builtin-colors > div {
      float: left;
      width: 20px;
      height: 20px;
      margin: 1px;
    }
  }
}