.g-dialog {
  position: relative;
  display: table;
  margin: 0 auto;
  background: $frameColor;
  color: $textColor;
  border: 1px solid $frameBorderColor;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.20);

  > .header {
    background: $frameDarkColor;
    color: $textColor;
  }
}