@import '../variables';

.g-effect-panel {
  position: relative;

  > .effects {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 30px;

    > .effect-block {
      > .effect-settings {
        > .preview {
          display: inline-block;
          width: 14px;
          height: 14px;
          border: 1px solid $borderColor;
        }
      }
    }
  }
}