.g-hint > .title {
  margin-top: 15px;
  margin-bottom: 5px;
  padding-bottom: 5px;
  border-bottom: 1px dotted #dedede;
  font-weight: bold;
}

.g-hint > .introduction {
  margin-top: 15px;
  margin-bottom: 15px;
  color: #575757;
}

.g-hint > table.shortcuts {
  width: 100%;
}

.g-hint > table.shortcuts tr td {
  vertical-align: middle;
  padding-top: 7px;
  padding-bottom: 7px;
  line-height: 1.3em;
}

.g-hint > table.shortcuts tr td:first-child {
  white-space: nowrap;
  min-width: 110px;
}

.g-hint > table.shortcuts tr td:last-child {
  width: 100%;
}

.g-hint > table.shortcuts tr:not(:last-child) td {
  border-bottom: 1px solid #dedede;
}

.g-hint span.shortcut {
  display: inline-block;
  background: white;
  color: #575757;
  box-shadow: 1px 1px 0px #cccccc;
  border: 1px solid #979797;
  border-radius: 3px;
  padding: 1px 3px 1px 3px;
}

.g-hint span.shortcut.pressed {
  background: #eaeaea;
}

.g-hint span.shortcut-divider {
  display: inline-block;
  padding: 1px 3px 1px 3px;
}