@import '../variables';
.g-overlay-modal {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
}

.g-overlay {
  background: $baseColor;
  color: $textColor;
  border: 1px solid $borderColor;
  padding: 0px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.50);
  z-index: 10;
}