.g-modal-background {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: transparent;
}

.g-overlay {
  background: $frameColor;
  color: $textColor;
  border: 1px solid $frameBorderColor;
  padding: 0px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.50);
  z-index: 10;
}