@import '../variables';

$pivotButtonSize: 6px;
$pivotButtonSpace: 3px;

.g-pivot {
  position: relative;
  width: $pivotButtonSize * 3 + $pivotButtonSpace * 2;
  height: $pivotButtonSize * 3 + $pivotButtonSpace * 2;

  > .borderline {
    position: absolute;
    top: $pivotButtonSize / 2;
    left: $pivotButtonSize / 2;
    right: $pivotButtonSize / 2;
    bottom: $pivotButtonSize / 2;
    border: 1px solid $frameDarkColor;
  }

  > .side {
    @include box-sizing(border-box);
    position: absolute;
    width: $pivotButtonSize;
    height: $pivotButtonSize;
    border: 1px solid $frameDarkColor;
    background: white;
    top: 0px;

    &[data-side="tl"], &[data-side="lc"], &[data-side="bl"] {
      left: 0px;
    }

    &[data-side="tc"], &[data-side="cc"], &[data-side="bc"] {
      left: $pivotButtonSize + $pivotButtonSpace;
    }

    &[data-side="tr"], &[data-side="rc"], &[data-side="br"] {
      left: $pivotButtonSize * 2 + $pivotButtonSpace * 2;
    }

    &[data-side="lc"], &[data-side="cc"], &[data-side="rc"] {
      top: $pivotButtonSize + $pivotButtonSpace;
    }

    &[data-side="bl"], &[data-side="bc"], &[data-side="br"] {
      top: $pivotButtonSize * 2 + $pivotButtonSpace * 2;
    }

    &.g-active {
      background: $selectedColor;
    }
  }
}