.g-style-panel {
  .style-block {
    display: inline-block;
    position: relative;
    padding: 2px;

    &.selected {
      background: $selectedColor;
      color: $selectedTextColor;
    }

    &.drop {
      background: $dragColor;
      color: $dragTextColor;
    }

    .style-preview {
      padding: 2px;
      text-align: center;
      vertical-align: middle;

      img {
        display: block;
        padding: 1px;
        background: #FFF;
        box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.5);
      }
    }

    .style-name {
      display: none;
      font: $font;
    }

    * {
      pointer-events: none;
    }
  }

  &.g-style-list {
    .style-block {
      display: block;

      .style-content {
        display: table-row;
        width: 100%;

        > div {
          display: table-cell;
          vertical-align: middle;
        }

        .style-name {
          width: 100%;
          padding: 0px 5px;
        }
      }
    }
  }
}