.g-style-panel {
  background: white;
  padding: 5px;

  .style-block {
    display: inline-block;
    position: relative;
    margin: 0px 4px 0px 0px;
    border: 2px solid white;

    &.style-null {
    }

    &.selected {
      border: 2px solid $selectedColor;
    }

    .style-preview {
      display: block;
    }
  }
}