@import '../variables';

.g-swatch-panel {
  .swatch-block {
    display: inline-block;
    position: relative;
    padding: 2px;

    &.selected {
      background: $selectedColor;
      color: $selectedTextColor;
    }

    &.drop {
      background: $dragColor;
      color: $dragTextColor;
    }

    .swatch-preview {
      padding: 2px;

      > div {
        display: inline-block;
        box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.5);
        text-align: center;
        vertical-align: middle;
      }
    }

    .swatch-name {
      display: none;
      font: $font;
    }

    * {
      pointer-events: none;
    }
  }

  &.g-swatch-list {
    .swatch-block {
      display: block;

      .swatch-content {
        display: table-row;
        width: 100%;

        > div {
          display: table-cell;
          vertical-align: middle;
        }

        .swatch-name {
          width: 100%;
          padding: 0px 5px;
        }
      }
    }
  }
}