@import '../variables';

ul.jqtree-tree,
ul.jqtree-tree ul.jqtree_common {
  list-style: none outside;
  margin-bottom: 0;
  margin-top: 0px;
  padding: 0;
}

ul.jqtree-tree ul.jqtree_common {
  display: block;
  margin-left: 15px;
  margin-right: 0;
}

ul.jqtree-tree li.jqtree-closed > ul.jqtree_common {
  display: none;
}

ul.jqtree-tree li.jqtree_common {
  clear: both;
  list-style-type: none;
}

ul.jqtree-tree .jqtree-toggler {
  vertical-align: middle;
  padding-right: 3px;
}

ul.jqtree-tree .jqtree-element {
  margin: 0px;
  padding: 0px 3px 3px 3px;
}

ul.jqtree-tree .jqtree-title {
  vertical-align: middle;
}

ul.jqtree-tree li.jqtree-folder .jqtree-title {
  margin-left: 0;
}

ul.jqtree-tree .jqtree-toggler.jqtree-closed {
  background-position: 0 0;
}

span.jqtree-dragging {
  color: #fff;
  background: #000;
  opacity: 0.6;
  cursor: pointer;
  padding: 5px 8px;
}

ul.jqtree-tree li.jqtree-ghost {
  position: relative;
  z-index: 10;
  margin-right: 10px;
}

ul.jqtree-tree li.jqtree-ghost span {
  display: block;
}

ul.jqtree-tree li.jqtree-ghost span.jqtree-circle {
  border-radius: 9999px;
  background: $dragColor;
  border: 1px solid white;
  height: 8px;
  width: 8px;
  position: absolute;
  top: -5px;
  left: 0px;
}

ul.jqtree-tree li.jqtree-ghost span.jqtree-line {
  background-color: $dragColor;
  height: 2px;
  padding: 0;
  position: absolute;
  top: -1px;
  left: 10px;
  width: 100%;
}

ul.jqtree-tree li.jqtree-ghost.jqtree-inside {
  margin-left: 48px;
}

ul.jqtree-tree span.jqtree-border {
  position: absolute;
  display: block;
  left: 0px;
  top: 0;
  width: 100% !important;
  height: 100% !important;
  background: rgba( $dragColor, 0.5);
  margin: 0;
}

ul.jqtree-tree .jqtree-element {
  width: 100%;
  *width: auto;
  position: relative;
}

ul.jqtree-tree li.jqtree-selected > .jqtree-element,
ul.jqtree-tree li.jqtree-selected > .jqtree-element:hover {
  background: $selectedColor;
  color: $selectedTextColor;
}

