#palettes {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 250px;
  height: 100%;
  border-left: 1px solid $frameBorderColor;

  .palette-group {
    overflow: hidden;
    border-bottom: 1px solid $frame3DShadowColor;

    &:last-child, &.collapsed-palette {
      border-bottom: none;
    }

    > .palette-group-header {
      display: table;
      width: 100%;
      background: #CED7E0 linear-gradient(to top, $frameDarkColor, $frameColor);
      border-top: 1px solid $frame3DLightColor;
      border-bottom: 1px solid $frame3DShadowColor;
      height: 22px;

      > * {
        display: table-cell;
        height: 100%;
        vertical-align: middle;
      }

      button {
        background: transparent;
        border: none;
      }

      > .palette-group-tabs {
        padding-left: 1px;
        width: 100%;

        > button {
          margin-right: 5px;
          border-left: 1px solid $frameBorderColor;
          padding-left: 5px;
          font-weight: bold;
          text-transform: uppercase;
          color: $selectedColor;
        }

        button:not(:active):not(.g-active) {
          color: $textColor;
        }

        > button:first-child {
          padding-left: 0px;
          border-left: none;
        }
      }

      > .g-menu-button > li > .g-menu-item-tail {
        display: none;
      }
    }

    .palette-panel {
      position: relative;

      &, *:not(.fa) {
        font: $smallFont;
      }

      .fa {
        font-size: 12px;
      }

      > .panel-disabled-overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0px;
        background: rgba(0, 0, 0, 0.5);
      }
    }





    /* the container for the entire editor */
    .gradient-editor-container {
    }

    /* the area that contains the gradient */
    .gradient-editor-gradient {
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
    }

    /* the color stop draggable area. Should not by styled */
    .gradient-editor-color-stop {
      margin-top: 6px;
    }

    /* the color inside a color stop */
    .gradient-editor-color {
      border: 1px solid #999;
      border-top: 0;
    }
    .gradient-editor-color::before {
      border-color: transparent transparent hsla(0,0%, 100%, 0.8) transparent;
      border-style: solid;
      border-width: 5px;
      width: 0;
      height: 0;
      position: absolute;
      top: -10px;
      left: 1px;
      content: '';
    }

    /* the area the contains the color stops */
    .gradient-editor-colors {
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
    }

    /* the instruction area */
    .gradient-editor-instructions {
      font-size: x-small;
      color: #aaa;
    }



  }
}