#toolbar {
  position: absolute;
  width: 35px;
  background: $frameColor;
  border-right: 1px solid $frame3DShadowColor;

  > div.section {
    border-top: 1px solid $frame3DLightColor;
    border-bottom: 1px solid $frame3DShadowColor;
    padding: 2px 0px;

    button {
      border: none;
      border-radius: 0px;
      background-color: transparent;
      box-shadow: none;
      padding: 0px;
      margin: 1px 3px;
      width: 28px;
      height: 28px;
      font-size: 18px;

      &:hover, &:active, &.g-active {
        background-color: $activeColor;
      }

      > span.fa:first-child {
         font-size: 16px;
       }
    }

    .divider {
      background: $frameBorderColor;
      width: 100%;
      height: 1px;
      margin: 3px 0px;
    }

    &.sidebars {
      padding: 0px;

      button {
        margin: 0px;
        width: 100%;
      }
    }

    &.toolpanel {
      button {
        margin: 1px 3px;
        width: 28px;

        &:active, &.g-active {
          background-color: $selectedColor;
        }
      }
    }
  }
}