.palette-color-mixer {
  padding: 5px;

  > .color-component {
    display: table;
    width: 100%;
    padding-bottom: 3px;

    > div, > span {
      display: table-cell;
      vertical-align: middle;
    }

    > .color-icon {
      font-size: 14px !important;
      padding-right: 5px;
    }

    > .color-range {
      width: 100%;
      padding-right: 5px;

      > input {
        width: 100%;
      }
    }

    > .color-value {
      min-width: 3em;
      max-width: 3em;
      padding-right: 5px;

      > input {
        width: 100%;
        text-align: center;
      }
    }

    > .color-unit {
      min-width: 1.5em;
      max-width: 1.5em;
      text-align: left;
    }
  }

  > .color-picker {
    padding-bottom: 7px;
  }

  > .color-toolbar {
    display: table;
    width: 100%;
    padding-top: 5px;

    > div {
      display: table-cell;
      vertical-align: middle;
    }

    > .color-modes {
      white-space: nowrap;

      > button {
        padding: 0px 5px 0px 5px;
        text-transform: uppercase;
        border: none;
        background: transparent;
        border-right: 1px solid silver;
      }
      > button:first-child {
        padding-left: 0px;
      }
      > button:last-child {
        border-right: none;
      }
    }

    .g-swatch-preview {
      height: 16px;

      > .g-swatch {
        height: 100%;
        width: 30px;
      }
    }
  }
}

// Hack for mozilla: range sliders don't honor font-size so we'll remove
// the padding-bottom of each color-component-row to accreditate for the spacing
@-moz-document url-prefix() {
  .palette-color-mixer > .color-component:not(:last-child) {
    padding-bottom: 0px;
  }
}