.palette-layers .layer-tree {
  padding: 5px 0px;

  div.jqtree-element {
    display: table;

    > * {
      display: table-cell;
      vertical-align: middle;
    }

    > :not(:last-child) {
      padding-right: 5px;
    }

    > .layer-icon {
      font-size: 14px !important;
    }

    > .layer-icon-light {
      color: rgb(89, 101, 115);
    }

    > .layer-icon-action {
      cursor: pointer;
    }

    > .layer-color {
      min-width: 14px;
      max-width: 14px;
      border: 1px solid black;
    }

    > span.jqtree-title {
      width: 100%;
      color: black;
      line-height: 14px;
    }
  }

  li.jqtree-selected {
    > div.jqtree-element {
      * {
        color: white;
      }
    }
  }

  ul.jqtree_common {
    margin-left: 0px;
  }
}