.palette-properties {
  padding: 0px 0px;

  .properties-panels {
    padding: 0px 5px 5px 5px;

    > .properties-panel-category {
      font-weight: bold;
    }

    > .properties-panel-category {
      color: rgb(89, 101, 115);
      padding: 5px 0px;

      > i.fa {
        padding-right: 3px;
      }
    }
  }
}