.palette-properties {
  padding: 2px 5px 5px 5px;

  .properties-panels {
    > .properties-panel-category {
      @include box-sizing(border-box);
      display: table;
      width: 100%;
      margin: 3px 0px;
      background: $frameDarkColor;
      border: 1px solid $frameBorderColor;
      border-bottom: none;
      margin-bottom: 0px;
      padding: 2px 5px 3px 5px;
      background: $frameBorderColor;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;

      > div {
        display: table-cell;
        vertical-align: middle;
      }

      > .title {
        width: 100%;

        > i.fa:first-child {
          padding-right: 3px;
        }
      }

      > .controls {
        text-align: right;
        white-space: nowrap;

        input, button, .g-button, select {
          border: none;
          padding-top: 0px;
          padding-bottom: 0px;
          background: transparent;
          box-shadow: none;
        }

        button, .g-button {
          &.g-active {
            &, * {
              color: $selectedColor;
            }
          }
        }
      }
    }

    > .properties-panel-content {
      margin: 7px 0px 12px 0px;
      border: 1px solid $frameBorderColor;
      border-top: none;
      border-radius: 5px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      margin-top: 0px;
      padding: 10px 5px;

      &.last-visible {
        margin-bottom: 0px;
      }
    }
  }
}