.palette-color-trends {
  padding: 5px;

  > .color-trend {
    display: table;
    width: 100%;
    padding-bottom: 7px;

    > div, > span {
      display: table-cell;
      vertical-align: middle;
    }

    > .color-trend-icon {
      font-size: 14px !important;
      text-align: left;
      min-width: 17px;
      max-width: 17px;
      padding-right: 5px;
    }

    > .color-palette {
      width: 100%;
      padding-right: 7px;

      > div {
        width: 100%;
        // TODO : Fix this, how to get height if input (12px), 1em gives only 7px???
        height: 16px;

        > div {
          display: inline-block;
          height: 100%;
        }

        > div:not(:last-child) {
          border-right: 1px solid white;
        }

        > div:last-child {
          border: 1px solid black;
        }
      }
    }

    > .color-trend-value {
      min-width: 3em;
      max-width: 3em;

      > input {
        width: 100%;
        text-align: center;
      }
    }
  }

  > .color-trend-3 {
    padding-bottom: 3px;
  }

  > .color-toolbar {
    display: table;
    width: 100%;
    padding-top: 5px;

    > div, ul {
      display: table-cell;
      vertical-align: middle;
    }

    .g-menu-item.g-button {
      text-transform: uppercase;
      padding: 0px;
    }

    > .color-preview {
      width: 100%;
      text-align: right;

      > .ex-color-preview > div {
        display: inline-block;
        width: 4em;
        height: 1.5em;
      }
    }
  }
}