#toolpanel > button {
  border: none;
  background: transparent;
  width: 26px;
  height: 26px;
  padding: 0px;
  margin: 0px 0px 2px 0px;
  box-shadow: none !important;
  border-radius: 0px;
}

#toolpanel {
  > button {
    svg {
      fill: black;
      stroke: black;
    }
  }

  > button:hover,  > button:active, > button.g-active {
    background: rgb(31, 141, 214);

    svg {
      fill: white;
      stroke: white;
    }
  }
}

#toolpanel > span.divider {
  background: silver;
  height: 26px;
  width: 1px;
  margin: 0px 2px;
  display: inline-block;
  vertical-align: top;
}