@import '../variables';

#header {
  position: absolute;
  width: 100%;
  background: $frameColor;
  border-bottom: 3px solid $frameDarkColor;

  > * {
    height: 2em !important;
    padding: 2px 0px;
  }
}