@import '../variables';

#palettes {
  @include box-sizing(border-box);
  position: absolute;
  right: 0px;
  width: 260px;
  background: $frameColor;
  border-left: 1px solid $frameBorderColor;

  .palette-group {
    overflow: hidden;

    &:last-child, &.collapsed-palette {
      border-bottom: none;
    }

    > .palette-group-header {
      display: table;
      padding-top: 2px;
      height: 25px;
      width: 100%;
      //background: #CED7E0 linear-gradient(to top, $frameDarkColor, $frameColor);
      //border-top: 1px solid $frame3DLightColor;
      //border-bottom: 1px solid $frame3DShadowColor;
      background: $frameDarkColor;
      border-bottom: 1px solid $frame3DShadowColor;

      > * {
        display: table-cell;
        height: 100%;
        vertical-align: middle;
        white-space: nowrap;
      }

      button {
        background: $frameDarkColor;
        border: none;
        margin: 0px;
      }

      > .palette-group-collapse > button {
        padding: 0px;
      }

      > .palette-group-tabs {
        width: 100%;

        > button {
          //padding-right: 5px;
          //border-left: 1px solid $frameBorderColor;
          //padding-left: 5px;
          //font-weight: 600;
          padding-left: 5px;
          padding-right: 5px;
          text-transform: uppercase;
          //color: $selectedColor;

          &:active, &.g-active {
            background: $activeColor;

            &, * {
              color: $activeTextColor;
            }

            svg {
              fill: $activeTextColor;
              stroke: $activeTextColor;
            }
          }
        }
      }

      > :last-child {
        padding-right: 5px;
      }
    }

    .palette-panel {
      position: relative;

      .fa {
        font-size: 14px;
      }

      > .panel-disabled-overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0px;
        background: rgba(0, 0, 0, 0.5);
      }
    }
  }
}