@import '../variables';

#panels {
  @include box-sizing(border-box);
  position: absolute;
  bottom: 0px;
  height: 146px;
  padding: 0px;
  border-top: 1px solid $frameBorderColor;
  border-left: 2px solid $frameDarkColor;
  border-right: 2px solid $frameDarkColor;
  background: $frameColor;

  .panels-tabs {
    height: 21px;
    background: $frameDarkColor;

    > button {
      background: $frameDarkColor;
      padding-left: 7px;
      padding-right: 7px;
      text-transform: uppercase;
      border: none;

      &:active, &.g-active {
        background: $frameColor;

        &, * {
          color: $textColor;
        }
      }
    }
  }

  .panels-frame {
    width: 100%;
    height: 125px;

    .panel-container {
      width: 100%;
      height: 100%;
      position: relative;
    }
  }
}