@import '../variables';

#sidebars {
  @include box-sizing(border-box);
  position: absolute;
  top: 0px;
  left: 0px;
  width: 200px;
  height: 100%;
  padding: 0px;
  border-left: 2px solid $darkColor;
  border-right: 1px solid $borderColor;
  border-top: 3px solid $darkColor;
  background: $baseColor;

  .sidebar-container {
    width: 100%;
    height: 100%;
  }
}