@import '../variables';

#toolbar {
  @include box-sizing(border-box);
  position: absolute;
  width: 61px; // + border size
  background: $frameColor;
  border-right: 1px solid $frame3DShadowColor;
  border-top: 3px solid $frameDarkColor;

  &, *:not(.fa) {
    font: $smallFont;
  }

  > div.section {
    padding: 0px 2px;

    > button {
      position: relative;
      padding: 0px;
      margin: 1px 0px;
      width: 28px;
      height: 28px;

      > .fa-caret-down {
        position: absolute;
        bottom: 0.5px;
        right: 0.5px;
        font-size: 10px;
        transform: rotate(-45deg);
      }
    }

    > .divider {
      width: 100%;
      padding: 2px 0px;
      text-align: center;
      color: $frameBorderColor;
      text-transform: uppercase;
      text-shadow: 0px 1px 0px $frame3DLightColor;

      &:not(:first-child) {
        margin-top: 3px;
        border-top: 1px dotted $frameBorderColor;
      }
    }

    &.sidebars {
      border-bottom: 3px solid $frameDarkColor;
    }

    &.toolpanel {
      > button {
        &:active, &.g-active {
          background: $activeColor;

          &, * {
            color: $activeTextColor;
          }

          svg {
            fill: $activeTextColor;
            stroke: $activeTextColor;
          }
        }
      }

      > .zoom {
        position: relative;

        > button {
          position: absolute;
          top: 0px;
          height: 100%;
          font-size: 10px !important;

          &:first-child {
            left: 0px;
          }

          &:last-child {
            right: 0px;
          }
        }

        > input {
          width: 100%;
          text-align: center;
          font-size: smaller;
        }
      }
    }
  }
}

.toolbar-tool-button {
  display: table-cell;
  width: 100%;
  text-align: left;
  padding: 5px;
  height: 28px;

  &.g-hover {
    background: $activeColor;

    &, * {
      color: $activeTextColor;
    }

    svg {
      fill: $activeTextColor;
      stroke: $activeTextColor;
    }
  }
}