@import '../variables';

#toolbar {
  position: absolute;
  width: 34px;
  background: $frameColor;
  border-right: 1px solid $frame3DShadowColor;

  > div.section {
    padding: 2px 0px;

    button {
      padding: 0px;
      margin: 1px 3px;
      width: 28px;
      height: 28px;
    }

    .divider {
      background: $frameBorderColor;
      width: 100%;
      height: 1px;
      margin: 3px 0px;
    }

    &.sidebars {
      border-bottom: 3px solid $frameDarkColor;
      padding: 0px;

      button {
        margin: 0px;
        width: 100%;
        height: 28px;

        &:active, &.g-active {
          * {
            color: $selectedColor;
          }
        }
      }
    }

    &.toolpanel {
      button {
        margin: 1px 3px;
        width: 28px;

        &:active, &.g-active {
          background: $activeColor;

          &, * {
            color: $activeTextColor;
          }

          svg {
            fill: $activeTextColor;
            stroke: $activeTextColor;
          }
        }
      }
    }
  }
}