@import '../variables';

.sidebar-pages-layers {
  .page-block {
    position: relative;
    width: 100%;

    &.g-active {
      background: $selectedColor;

      &, * {
        color: $selectedTextColor;
      }
    }

    &.drop {
      background: $dragColor;

      &, * {
        color: $dragTextColor;
      }
    }

    &:not(:last-child) > div {
      border-bottom: 1px solid $frame3DShadowColor;
    }

    &:not(:first-child) > div {
      border-top: 1px solid $frame3DLightColor;
    }

    > div {
      display: table-cell;
      vertical-align: middle;
      padding: 4px 3px;

      &, * {
        cursor: pointer;
      }
    }

    > div:first-child {
      padding-left: 5px;
    }

    > div:last-child {
      padding-right: 5px;
    }

    > .page-name {
      width: 100%;

      &, * {
        cursor: default;
      }
    }

    > .drag-overlay {
      position: absolute;
      top: 0px;
      left: 0px;
      right: 0px;
      bottom: 0px;
    }
  }
}