@import '../variables';

.sidebar-pages-layers {
  .pages {
    .page-block {
      position: relative;
      width: 100%;

      &.g-active {
        background: $activeColor;

        &, * {
          color: $activeTextColor;
        }
      }

      &.g-selected {
        background: $selectedColor;

        &, * {
          color: $selectedTextColor;
        }
      }

      &.drop {
        background: $dragColor;

        &, * {
          color: $dragTextColor;
        }
      }

      &:not(:last-child) > div {
        border-bottom: 1px solid $frame3DShadowColor;
      }

      > div:not(.drag-overlay) {
        display: table-cell;
        vertical-align: middle;
        padding: 4px 0px;

        &.page-visibility, &.page-lock {
          border-right: 1px solid $frame3DShadowColor;
          min-width: 21px;
          max-width: 21px;
          text-align: center;

          &.page-default * {
            color: $disabledTextColor;
          }

          &, * {
            cursor: pointer;
          }
        }

        &.page-name {
          width: 100%;
          padding-left: 3px;
        }
      }

      > .drag-overlay {
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
      }
    }
  }

  .layers {
    div.jqtree-element {
      padding: 0px;
      border-bottom: 1px solid $frame3DShadowColor;

      &.g-active {
        background: $activeColor;

        &, * {
          color: $activeTextColor;
        }
      }

      &.g-selected {
        background: $selectedColor;

        &, * {
          color: $selectedTextColor;
        }
      }

      > * {
        display: table-cell;
        vertical-align: middle;
        padding: 4px 0px;

        &.layer-visibility, &.layer-lock {
          border-right: 1px solid $frame3DShadowColor;
          min-width: 21px;
          max-width: 21px;
          text-align: center;

          &.layer-default {
            color: $disabledTextColor;
          }

          &, * {
            cursor: pointer;
          }
        }

        &.jqtree-toggler, &.layer-spacer {
          text-align: center;
          min-width: 13px;
          max-width: 13px;
        }

        &.jqtree-title {
          width: 100%;
          padding-left: 3px;
        }
      }
    }

    ul.jqtree_common {
      margin-left: 0px;
    }
  }
}