@import '../variables';

.sidebar-pages-layers {
  .pages {
    .page-block {
      position: relative;
      width: 100%;

      &.g-active {
        background: $activeColor;

        &, * {
          color: $activeTextColor;
        }
      }

      &.g-selected {
        background: $selectedColor;

        &, * {
          color: $selectedTextColor;
        }
      }

      &.drop {
        background: $dragColor;

        &, * {
          color: $dragTextColor;
        }
      }

      &:not(:last-child) > div {
        border-bottom: 1px solid $frame3DShadowColor;
      }

      > div:not(.drag-overlay) {
        display: table-cell;
        vertical-align: middle;
        padding: 4px 3px;

        &, * {
          cursor: pointer;
        }

        &:first-child {
          padding-left: 5px;
        }

        &:last-child {
          padding-right: 5px;
        }

        &.page-name {
          width: 100%;

          &, * {
            cursor: default;
          }
        }
      }

      > .drag-overlay {
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
      }
    }
  }

  .layers {
    div.jqtree-element {
      padding: 0px;
      border-bottom: 1px solid $frame3DShadowColor;

      > * {
        //display: table-cell;
        vertical-align: middle;
        padding: 4px 3px;

        &, * {
          cursor: pointer;
        }

        &:first-child {
          padding-left: 5px;
        }

        &:last-child {
          padding-right: 5px;
        }

        &.jqtree-toggler {
          padding: 0px;

          &, * {
            cursor: default;
          }
        }

        &.jqtree-title {
          width: 100%;

          &, * {
            cursor: default;
          }
        }
      }
    }

    ul.jqtree_common {
      margin-left: 0px;
    }
  }
}